{% extends "__base__.html" %}

{% block title %}Comments{% endblock %}
{% block main %}
<div class="uk-grid " data-uk-grid-margin>
        <div class="uk-width-medium-3-4">
            {% for blog in blogs %}
                <article class="uk-article">
                    <h2><a href="/blog/{{blog.id}}">{{blog.name}}</a></h2>
                    <p class="uk-article-meta">Write by {{blog.created_at}}</p>
                    <p>{{blog.summary}}</p>
                    <p><a href="/blog/{{ blog.id }}">More<i class="uk-icon-angle-double-right"></i></a></p>
                </article>
            {% endfor %}
            <ul class="uk-pagination">
                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                <li class="uk-"><a>1</a></li>
                <li class="uk-active"><a>2</a></li>
                <li class="uk-active"><a>3</a></li>
                <li class="uk-disabled"><a>...</a></li>
                <li class="uk-active"><a>20</a></li>
                <li class="uk-active"><a><i class="uk-icon-angle-double-right"></i></a></li>
            </ul>
        </div>
        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box uk-text-center">
                <img class="uk-border-circle" src="/static/img/user.png" width="120" height="120">
                <h1>Author</h1>
                <p>........................</p>
            </div>
            <div class="uk-panel">
                <h3 class="uk-panel-title">Relative</h3>
                <ul class="uk-list uk-list-line">
                    <li ><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
            <div class="uk-panel">
                <h3 class="uk-panel-title">Comments</h3>
                <ul class="uk-list">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

